name: Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Install snapcraft
        run: |
          sudo snap install snapcraft --classic

      - name: Login to Snap Store
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}
        run: |
          echo "$SNAPCRAFT_STORE_CREDENTIALS" > snapcraft.login
          snapcraft login --with snapcraft.login


      - name: Set up GoReleaser
        uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: latest
          args: >
            release --clean
            ${{ startsWith(github.ref, 'refs/heads/') && '--snapshot --skip=publish' || '' }}
